<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Hasanbey Çiftliği | Doğal Meyve, Sebze, Domates, Süt, Peynir, Zeytin, Yumurta...">
    <meta name="keywords" content="Doğal, Meyve, Sebze, Domates, Biber, Çiğ, Süt, Peynir, Zeytin, Zeytinyağı, Yumurta, Köy Yumurtası, Bal, Reçel, Şeker domates, erişte, ekmek, köy ekmeği, tarhana, salça, sucuk, bez sucuk, file sucuk, lor, tulum, bergama, kaşar, dağ peyniri, yoğurt, enginar">
    <link rel="stylesheet" href="main-page.css">
    <link rel="stylesheet" href="sepet.css">
    <link rel="import" href="main-page.html">
    <title>Hasanbey Çiftliği | Doğal Meyve, Sebze, Domates, Süt, Peynir, Zeytin, Yumurta...</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
   <div id="id2">
    <div class="banner">

        <div class="top-banner">
            <div class="inner-top-banner">

                <div class="slogan">
                    <h1>Hasanbey Çiftliği'nden taze taze, doğal sebze, meyve, katkısız reçel, salça, turşu...</h1>
                </div>


                <div class="kullanici-islemleri">

                    <div class="uye-islemleri">
            
                        <a href="https://www.hasanbey.com/Plugins/ExternalAuthFacebook/Login" class="facebook">Facebook İle Bağlan</a>
                        <a href="https://www.hasanbey.com/tr/register" class="kayit-giris">Üye Olun</a>
                        <a href="https://www.hasanbey.com/tr/login" class="kayit-giris">Üye Girişi</a>
                        
                    </div>

                    <div class="sepet">
                        
                        <div class="sepet">
                        
                            <div class="dropdown">
                             <button onclick="show_hide()" class="dropdown-buton"><img src="images/banner/red_basket_icon.png" alt="">
                             <span>0,00 TL</span>
                             </button>
     
                             <div id="drop-content" style="display: none;">
                                 <a href="#">Alışveriş sepetinizde hiç ürün bulunmamaktadır.</a>
                             </div>
                            </div>
     
                         </div>

                    </div>
                   
             


                </div>
            </div>

        </div>



        <div class="bottom-banner">

            <div class="logo-bar">

                <div class="logo">
                    <a href="https://www.hasanbey.com/tr/"><img src="images/banner/logo.png"></a>
                </div>


                <div class="arama-bar">

                    <div class="bar">
                        <input type="text" placeholder="Yumurta, Domates, Süt...">
                    </div>


                    <div class="buton">
                        <button type="button"><img src="images/banner/red_magnifier_icon.png"></button>
                    </div>

                </div>


            </div>


            <div class="kategoriler">

                <a href="https://www.hasanbey.com/tr/"><div class="anasayfa"></div></a>
                <a href="https://www.hasanbey.com/tr/ciftlik-2"><div class="ciftlik"></div></a>
                <a href="https://www.hasanbey.com/tr/tum-urunler"><div class="tum-urunler"></div></a>
                <a href="https://www.hasanbey.com/tr/domates-biber"><div class="domates-biber"></div></a>
                <a href="https://www.hasanbey.com/tr/sut-peynir"><div class="sut-peynir"></div></a>
                <a href="https://www.hasanbey.com/tr/yumurta"><div class="yumurta-sucuk"></div></a>
                <a href="https://www.hasanbey.com/tr/salca-tursu"><div class="salca-tursu"></div></a>
                <a href="https://www.hasanbey.com/tr/zeytin-zeytinyagi"><div class="zeytin-zeytinyagi"></div></a>
                <a href="https://www.hasanbey.com/tr/recel-bal"><div class="recel-bal"></div></a>

            </div>

        </div>


    </div>

    <div class="sepet-main">

        <div class="alisveris-sepetim">
            <h1 class="sepet-baslik">ALIŞVERİŞ SEPETİM</h1>
            <div class="min-miktar-uyarisi">
                * Minimum sipariş tutarı 60,00 TL
            </div>

            <ul class="sepet-urun-basliklari">
                <img src="images/sepet/brown_line_xl.png" class="sepet-brown-line">
                <br><br>
                <li class="urun-adi">
                    Ürün Adı
                </li>
                <li class="urun-adet">
                    Adet
                </li>
                
                <li class="urun-tutar">
                    Tutar
                </li>
                <li class="urun-sil">
                    Sil
                </li>
                <img src="images/sepet/brown_line_xl.png" class="sepet-brown-line">
            </ul>


            <div class="alinan-urunler">

            </div>


            <div class="alisverise-devam-buton">
                <input type="submit" name="continueshopping" value="Alışverişe Devam Et" class="alisverise-devam-input" id="continue-shopping">
            </div>

            <p class="uzeri-kargo">60 TL üzeri kargo ücretsiz</p>
        </div>


        <div class="fiyat-tablosu">
        
            <div class="sepet-urun-adedi">
                <img src="images/banner/red_basket_icon.png" alt="">
                <span>Ürün adedi</span>
            </div>

            <div class="ara-toplam-kargo-ucreti">
                <ul>
                    <li>
                        <span>Ara Toplam:</span><br><br>
                    </li><br><br>
                    <li>
                         <span>Kargo Ücreti:</span>
                    </li>
                </ul>
            </div>

            <div class="toplam">
                <p>Toplam:</p>
            </div>

            <div class="indirim-kodu">
                <p>İndirim Kodu:</p>

                <input type="text" class="i-kupon-input" placeholder="İndirim kodunuzu giriniz...">
                <input type="button" value="Ekle" class="i-kupon-buton">
            </div>

            <div class="satin-al">
                <input type="button" name="checkout" value="SATIN AL" class="satin-al-input" onclick="location.href='/checkout';">
            </div>

            <div class="min-siparis-tutari">
                   <p>Minimum sipariş tutarımız 60,00 TL 'dir.<br>Sepetinizi bu tutarı tamamlayıp, siparişinizi<br>tamamlayabilirsiniz.</p> 
            </div>

        </div>

    </div>
   

    <img src="images/footer/footer_farm.png" class="footer-farm">

    <div class="footer">        

        <div class="adres-mesai">
            <div class="adres">
                <h4>Adres</h4>
                <p>SÜT KARDEŞLER SÜT VE SÜT ÜRÜNLERİ TARIM<br>HAYVANCILIK GIDA NAKLİYAT İTHALAT İHRACAT<br>SANAYİ VE TİCARET A.Ş. Bergama Dikili Yolu<br>Kocaoba Köyü Yol Ayrımı Bölüm 1 Bergama - İzmir</p>
                <br>
                <span>M. <a href="mailto:siparis@hasanbey.com">siparis@hasanbey.com</a></span>
            </div>

            <div class="mesai">
                <h4>Mesai Saatlerimiz</h4>
                <span>08:00 - 16:00</span><br><br><br>
                <a href="https://www.hasanbey.com/tr/guvenletuketebilirsiniz"><img src="images/footer/iyi-tarim.png"></a>
                <a href="https://www.hasanbey.com/tr/guvenletuketebilirsiniz"><img src="images/footer/hastaliktan-ari.png"></a>
                <a href="https://www.hasanbey.com/tr/guvenletuketebilirsiniz"><img src="images/footer/global-gap.png"></a>
            </div>
        </div>


        <div class="harita-hesabim">

            

            <div class="site-haritasi">
                <h4>Site Haritası</h4>
                <div id="app-1">
                        <ul>
                            <li v-for="todo in todos">
                                {{todo.text}} 
                            </li>
                        </ul>
                    </div>
            </div>
            

            <div class="hesabim">
                    <h4>Hesabım</h4>
                    <ul><li><a href="https://www.hasanbey.com/tr/cart">Sepetim</a></li></ul><br><br>
                    <img src="images/footer/yerliuretim.jpg">
            </div>
        </div>



        <div class="eposta-iletisim">

            <div class="e-posta">
                <span>E-posta listesine kayıt olun:</span><br><br>

                <div id="app-2">
                    <input v-model="message">
                    <button type="button">Gönder</button>
                </div>

               
            </div>


            <div class="siparis-numara">
                <p>Siparişleriniz için bize<br>buradan da ulaşabilirsiniz</p>
                <span>0535 019 58 84</span>
            </div>


            <div class="sosyal-medya">
                <a href="https://www.facebook.com/hasanbeycom/"><img src="images/footer/facebook_icon.png"></a>
                <a href="https://twitter.com/hasanbeycom"><img src="images/footer/twitter_icon.png"></a>
                <a href="https://www.instagram.com/hasanbeycom/"><img src="images/footer/instagram_icon.png"></a>
                <a href="https://www.youtube.com/channel/UCSXqMWJcVCBdXxyosK3La5w"><img src="images/footer/youtube-icon.png"></a>
                <a href="https://api.whatsapp.com/send?phone=905350195884"><img src="images/footer/whatsapp-icon.png"></a>
                <br><br><span>Copyright © 2019 Hasanbey.com<br>Tüm hakları saklıdır.</span>
            </div>

        </div>

    </div>


    <div class="footer-bottom">

        <div class="footer-bottom-left">
            <img src="images/footer/secure_badge.png" class="secure">
            <img src="images/footer/all_badges.png" class="all-badges">
        </div>


        <div class="footer-bottom-right">
            <span>Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a></span>
            <a href="https://www.kreatif.net/"><img src="images/footer/kreatif_logo.png"></a>
        </div>

    </div>



<script>

    var app1 = new Vue({
    el: '#app-1',
    data: {
        todos: [
        { text: 'Garanti ve İade Koşulları'},
        { text: 'Gizlilik ve Güvenlik' },
        { text: 'Aydınlatma Metni' },
        { text: 'Mesafeli Satış Sözleşmesi'},
        { text: 'Üyelik Sözleşmesi' },
        { text: 'Kullanım Koşulları' },
        { text: 'Hizmet Sözleşmesi'},
        { text: 'Güvenle Tüketebilirsiniz' },
        { text: 'Basında Çiftliğimiz' }
        ]
    }
    })

    var app2 = new Vue({
    el: '#app-2',
    data: {
        message: 'E-posta adresinizi yazın...'
    }
    })

    
</script>

<script type="text/javascript">
    var c = 0;
    function pop(){
        if(c == 0){
            document.getElementById("box").style.display = "block";
            c = 1;
        }
        else{
            document.getElementById("box").style.display = "none";
            c = 0;
        }
    }
</script>

<script>
    function show_hide(){
        var click = document.getElementById("drop-content");
        if(click.style.display=="none"){
            click.style.display = "block";
        }
        else{
            click.style.display = "none";
        }
    }
</script>
</div>
</body>
</html>

